
@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
    font-size: 10px
}

:root {
    --clp: #777;
    --book: rgba(17, 25, 40, 0.75);
    --Bgc: #344C64;
    --mainColor: #337357 ;
    --Color: #114232;
    --Col:#1C1678
    /* #007F73 */
}

a {
    text-decoration: none !important;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: var(--Bgc);
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--Col)
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px var(--Color)
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--Bgc, #007F73);
    display: flex;
    align-items: center
}




@keyframes jump {
    0% {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
}
    100% {
        transform: translateY(-5px) rotateY(360deg);
        -webkit-transform: translateY(-5px) rotateY(360deg);
        -moz-transform: translateY(-5px) rotateY(360deg);
        -ms-transform: translateY(-5px) rotateY(360deg);
        -o-transform: translateY(-5px) rotateY(360deg);
}
}
.up {
    position: fixed;
    width: 35px;
    height: 35px;
    border-radius: 7px;
    bottom: -40px;
    right: -40px;
    z-index: 10;
    background-color: var(--Col);
    padding: 10px;
    -webkit-border-radius: 0 8px 0;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-size: 1.8rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    opacity: .5;
}

.up:hover {
    background-color: #ff0;
    color: var(--Col);
}

.up:hover > i {
    animation: jump 3s infinite ease;
    -webkit-animation: jump 3s infinite ease;
}

.up.show {
    right: 10px;
    bottom: 10px;
    opacity: 1;
}

header {
    height: 85vh;
    width: 90%;
    background-color: rgba(255, 255, 255, .25);
    margin:auto;;
    box-shadow: 0 20px 10px rgba(255, 255, 255,.1);
    border-top: 1px solid  rgba(255, 255, 255,.50) ;
    border-left: 1px solid  rgba(255, 255, 255,.50);
    overflow: hidden;
}

header > nav {
    display: flex;
    justify-content: space-between;
    padding: 25px

}

header > nav .logo {
     font-size: 2.5rem;
     font-weight: 500;
     color: var(--Col, #416D19);
     cursor: pointer;
     display: flex;
     align-items: center
}

header > nav ul {
    display: flex;
    list-style: none;
    align-items: center
}

header > nav ul li {
    margin: 0 8px
}

header > nav ul li > a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--Col, #416D19)
}


.box {
    max-width: 30rem;
    width: 100%

}

.box .search-box {
    position: relative;
    max-width: 380px;
    height: 40px;
    /* margin-left: 200px; */
    transition: 2s;
    -webkit-transition: 2s ease;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s
}

.box .search-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2.5rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;
    padding: 2rem;
    font-size: 1.7rem;
    font-weight: 500;
    border: none;
    outline: none;
    color: var(--Col,)
}

.box .search-box .icon {
    position: absolute;
    right: 0px;
    background-color: var(--Col,);
    color: #fff;
    height: 40px;
    width: 50px;
    text-align: center;
    line-height: 40px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-size: 2rem;
    cursor: pointer
}

#checked {
    display: none
}

@media (max-width:900px) {
    header > nav  {
    flex-direction: column;
    align-items: center;
    }

    header > nav ul {
        margin: 10px 0 20px 0;
    }
}
@media (min-width:901px) {
    .box {
        max-width: 30rem;
        width: 100%
    
    }
    
    .box .search-box {
        position: relative;
        max-width: 50px;
        height: 40px;
        margin-left: 200px;
        transition: 2s;
        -webkit-transition: 2s ease;
        -moz-transition: 2s;
        -ms-transition: 2s;
        -o-transition: 2s
    }
    
    #checked:checked ~ .search-box {
        max-width: 380px;
        margin: 0
    }
    
    .box .search-box input {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 2.5rem;
        -webkit-border-radius: 2.5rem;
        -moz-border-radius: 2.5rem;
        -ms-border-radius: 2.5rem;
        -o-border-radius: 2.5rem;
        padding: 20px;
        font-size: 1.7rem;
        font-weight: 500;
        border: none;
        outline: none;
        color: var(--Col,)
    }
    
    .box .search-box .icon {
        position: absolute;
        right: 0px;
        background-color: var(--Col,);
        color: #fff;
        height: 40px;
        width: 50px;
        text-align: center;
        line-height: 40px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        font-size: 2rem;
        cursor: pointer
    }
    
    #checked:checked ~ .search-box .icon {
        border-radius: 25px 0 25px;
        -webkit-border-radius: 25px 0 25px;
        -moz-border-radius: 25px 0 25px;
        -ms-border-radius: 25px 0 25px;
        -o-border-radius: 25px 0 25px;
        right: -3px
    }
    
    #checked {
        display: none
    }
}

@media (min-width:451px)  {
    header {
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
}
}
    
@media (max-width:450px) {
    header {
        width: 100%;
        height: 100vh;
        border-radius: none !important;
        -webkit-border-radius: none !important;
        -moz-border-radius: none !important;
        -ms-border-radius: none !important;
        -o-border-radius: none !important;
}

    header > nav ul li {
        margin: 0 5px
    }
}

.textContent {
    width: 100%;
    padding: 10px;
    display: flex;
    margin-top: 25px
}

.textContent > .details {
    width: 100%;
    padding: 15px;
}

.textContent > .details h1 {
    text-transform: capitalize;
    color: var(--Col, #1C1678);
    font-size: 2.5rem;
    font-weight: 600
}

.textContent > .details p {
    text-transform: capitalize;
    color: var(--Col, #1C1678);
    font-size: 1.5rem;
    line-height: 2;
    color: #fff;
    font-weight: 400
}

@media (min-width:1200px) {
    .textContent {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: flex-end
    }
}

@media (max-width:767px) {
    .footer a  span {
        display: none
    }
} 
/* End of Header */
    
/* R */
    /* A */
        /* S */
            /* H */
        /* I */
    /* D */
/* Y */

/* Start section */

@keyframes move {
    0% {
        transform: translatey(0);
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -ms-transform: translatey(0);
        -o-transform: translatey(0);
}

    25%  {
        transform: translatey(10px);
        -webkit-transform: translatey(10px);
        -moz-transform: translatey(10px);
        -ms-transform: translatey(10px);
        -o-transform: translatey(10px);
}
    50% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
    75% {
        transform: translatey(10px);
        -webkit-transform: translatey(10px);
        -moz-transform: translatey(10px);
        -ms-transform: translatey(10px);
        -o-transform: translatey(10px);
}

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}

section {
    /* background-image: url(/images/1686344516_en-idei-club-p-simple-background-design-dizain-pinterest-1.jpg);
    background-size: cover; */
    background: linear-gradient(45deg,  #61A3BA ,#7D9D9C , #DBE2EF );
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

section .anm div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px rgba(255, 255, 255, .8) solid;
}

section .anm div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animat 10s linear infinite;
    -webkit-animation: animat 10s linear infinite;
}
section .anm div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animat 7s linear infinite;
    -webkit-animation: animat 7s linear infinite;
}
section .anm div:nth-child(3) {
    top: 16%;
    left: 6%;
    animation: animat 9s linear infinite;
    -webkit-animation: animat 9s linear infinite;
}
section .anm div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animat 10s linear infinite;
    -webkit-animation: animat 10s linear infinite;
}
section .anm div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animat 12s linear infinite;
    -webkit-animation: animat 12s linear infinite;
}
section .anm div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animat 6s linear infinite;
    -webkit-animation: animat 6s linear infinite;
}
section .anm div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animat 15s linear infinite;
    -webkit-animation: animat 15s linear infinite;
}
section .anm div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animat 16s linear infinite;
    -webkit-animation: animat 16s linear infinite;
}
section .anm div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animat 9s linear infinite;
    -webkit-animation: animat 9s linear infinite;
}
section .anm div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animat 5s linear infinite;
    -webkit-animation: animat 5s linear infinite;
}

section  h1{
    font-size: 4rem;
    font-weight: 500;
    text-transform: capitalize;
    color: #06b733;
}
@keyframes animat  {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        -webkit-transform: scale(0) translateY(0) rotate(0);
        -moz-transform: scale(0) translateY(0) rotate(0);
        -ms-transform: scale(0) translateY(0) rotate(0);
        -o-transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
}
    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        -webkit-transform: scale(1.3) translateY(-90px) rotate(360deg);
        -moz-transform: scale(1.3) translateY(-90px) rotate(360deg);
        -ms-transform: scale(1.3) translateY(-90px) rotate(360deg);
        -o-transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
}
}

@media (max-width:767px) {
    section > form > input {
        width: 30rem;
    }
    section  h1 {
        text-align: center;
    }
}

@media (min-width:768px) {
    section  form  input {
        width: 70rem;
    }
}


section  form input {
    height: 40px;
    padding: 15px;
    text-transform: capitalize;
    color:#06b733;
    background: transparent;
    border: #06b733 2px solid;
    font-size: 1.8rem;
    font-weight: 500;
}

section  form  input:focus {
    outline: none;
}

section .false {
    margin-top: 3rem;
}

section .false  .true {
    width:120px;
    height: 45px;
    background-color: #06b733;
    color: #fff;
    font-size: 1.5rem;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

section .false .true:hover {
    animation: move infinite 2s linear;
    -webkit-animation: move infinite 2s linear;

}

/*  */

.none {
    text-decoration: none;
}

 .cont-srv {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); */
    gap: 20px;
    padding:50px;
    background-color: var(--Bgc);
} 

.cont-srv .two {
    background-color: #123;
    height: 25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 25px;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    cursor: pointer;
    overflow: hidden;
}

.cont-srv .two:hover {
    background-color: var(--Color);
}

.cont-srv .two:hover span {
    color: #fff;
}
.cont-srv a {
    text-decoration: none;
}
.cont-srv .two  i {
    font-size: 3rem;
    color: #fff;
}

.cont-srv .two span {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 15px;
    text-transform: capitalize;
    color: #d2691e;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
} 

.cont-srv .two p {
    font-size: 1.5rem;
    line-height: 1.7;
    margin-top: 10px;
    color: #fff;
    font-weight: 300;
}


    .container {

        margin: auto;
    }
    


/*  */
/* hallo servieses */

.servSec {
    width: 100%;
    padding: 6rem 0;
    background-color: var(--Bgc);
}

.servSec h1 {
    position: relative;
    font-size: 7rem;
    font-weight: 800;
    color: #fff;
    font-family: saden ;
    letter-spacing: 2px;
    transform: skewX(25deg);
    -webkit-transform: skewX(25deg);
    -moz-transform: skewX(25deg);
    -ms-transform: skewX(25deg);
    -o-transform: skewX(25deg);
    text-transform: capitalize;
}

.servSec h1::before {
    content: '';
    position: absolute;
    width: calc(100% + 20px);
    background-color: #fff;
    height: 2px;
    bottom: -15px;
    left: -15px;
}

.servSec h1::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    bottom: -25px;
    left: 50%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    background-color: var(--Bgc);
    border: 2px #000 solid;
}

/* ..col */

@media (max-width:767px) {

    .servSec h1 {
        font-size: 3rem;
    }

    .servSec h1::before {
        bottom: -20px;
    }
    .servSec h1::after {
        bottom: -30px ;
    } 
    .serveces-book {
        flex-direction: column;
        align-items: center;
    }

    .serveces-book .pobo > span {
        text-align: center;
        font-size: 3rem !important ;
    }
    .fundman .boxe::before {
        font-size: 4.5rem !important;
    }
}

.serveces-book{
    width: 100%;
    background-color: var(--Bgc);
    backdrop-filter: blur(5px);
    /* margin:auto; */
    box-shadow: 0 20px 10px rgba(255, 255, 255,.1);
    border-top: 1px solid  rgba(255, 255, 255,.50) ;
    border-left: 1px solid  rgba(255, 255, 255,.50);
    padding: 12px;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.serveces-book .pobo {
    height: 100%;
    /* justify-content: flex-start !important; */
    padding: 25px;
}

.serveces-book .pobo > span {
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: var(--Col);
    margin-left: 20px;
    text-align: center;
}

.serveces-book .pobo > span > span {
    color: aqua;
}

.fundman {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    margin-top: 60px;
}

.fundman a {
    text-decoration: none;
}

@media (min-width:1400px) {
    .fundman  {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}

.fundman .boxe {
    position: relative;
    background-color: var(--book);
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    margin: auto;
    height: 250px;
}

.fundman .boxe i {
    font-size: 8rem;
}

.fundman .boxe [class="fa-brands fa-html5"]{
    color: #dd4b25;
}

.fundman .boxe [class="fa-brands fa-css3"]{
    color: #254bdd;
}

.fundman .boxe [class="fa-brands fa-js"]{
    color: #efd81d;
}

.fundman .boxe [class="fa-brands fa-bootstrap"]{
    color: #8411f6;
}

.fundman:has(.boxe:hover)  .boxe:not(:hover) {
    filter: blur(4px);
    -webkit-filter: blur(4px);
    opacity: .8;
}

.fundman .boxe:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    background: linear-gradient( darkcyan , #06b733) ;
}

/*  */
.copilot {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 20px;
    row-gap: 40px;
    padding: 10rem 2.5rem;
    background: var(--Bgc);
}

@media (min-width:1400px) {
    .copilot {
         grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

@media (max-width:767px) {
    .copilot {
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }
}

.copilot .play {
    position: relative;
    background-color: var(--book);
    height: 350px;
    border-radius: 0 25px 0;
    -webkit-border-radius: 0 25px 0;
    -moz-border-radius: 0 25px 0;
    -ms-border-radius: 0 25px 0;
    -o-border-radius: 0 25px 0;
    box-shadow: 0 20px 10px rgba(255, 255, 255,.1);
    border-top: 1px solid  #123;
    border-left: 1px solid  #123;
    padding: 25px;
    cursor: pointer;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.copilot .play:hover {
    border-radius: 25px 0 25px;
    -webkit-border-radius: 25px 0 25px;
    -moz-border-radius: 25px 0 25px;
    -ms-border-radius: 25px 0 25px;
    -o-border-radius: 25px 0 25px;
}

.copilot .play > div {
    width: 60px;
    height: 60px;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    position: absolute;
    top: -30px;
    z-index: 1;
}

.copilot .play > h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    font-family: saden;
    text-transform: capitalize;
}


.copilot .play > p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2;
    color: #777;
}

.copilot .play > button {
    margin: 20px auto;
    width: 120px;
    height: 40px;
    text-transform: capitalize;
    padding: 3px;
    color: #fff;
    font-size: 2rem;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.copilot .play > button:hover {
    box-shadow: 0 20px 10px rgba(255, 255, 255,.1);
    border-top: 2px solid  rgba(255, 255, 255,.50) ;
    border-left: 2px solid  rgba(255, 255, 255,.50);
}

.co1:hover {
    background-color: rgb(104, 7, 83);
    box-shadow: 10px 10px 20px rgb(104, 7, 83);
    border-top: 2px solid  rgb(104, 7, 83);
    border-left: 2px solid  rgb(104, 7, 83);
}

.co2:hover {
    background-color:  rgb(104, 38, 7);
    box-shadow: 10px 10px 20px rgb(104, 38, 7);
    border-top: 2px solid  rgb(104, 38, 7);
    border-left: 2px solid  rgb(104, 38, 7);
}

.co3:hover {
    background-color: rgb(8, 83, 31);
    box-shadow: 10px 10px 20px rgb(8, 83, 31);
    border-top: 2px solid  rgb(8, 83, 31);
    border-left: 2px solid  rgb(8, 83, 31);
}

.co4:hover {
    background-color: rgb(17, 7, 104);
    box-shadow: 10px 10px 20px rgb(17, 7, 104);
    border-top: 2px solid  rgb(17, 7, 104);
    border-left: 2px solid  rgb(17, 7, 104);
}

.marg-top {
    padding-top: 10rem;
}

.glopal-item {
    padding: 25px;
    width: 100%;
    display: flex;
    background-color: #F8F4E1;
}

.glopal-item  .glopal {
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.glopal-item  .glopal span {
    font-size: 10rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--Col);
    font-family: saden;
}

.glopal-item  .glopal p {
    margin-top: 12px;
    font-size: 1.7rem;
    color: #06b733;
}

.glopal-item  .glopal button:first-of-type {
    margin-top: 40px;
    background-color: #52b875 ;
    color: #fff !important;
}

.glopal-item  .glopal button:nth-of-type(2) {
    background-color: #fff4a3 ;
}

.glopal-item  .glopal button:nth-of-type(3) {
    background-color: #ffb3bb;
    color: #fff !important;
}

.glopal-item  .glopal button {
    margin: 12px;
    width: 220px;
    height: 45px;
    border-radius: 25px;
    text-transform: capitalize;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-size: 2rem;
    font-weight: 500;
    color: var(--Col);
    opacity: .8;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.glopal-item  .glopal button > a {
    text-decoration: none;
}

.glopal-item  .glopal button:hover,
.glopalImg button:hover {
    opacity: 1;
}

.glopalImg {
    position: relative;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #e7e9eb;
    margin: auto;
    /* height: 500px; */
    box-shadow: 0px 0px 10px #123;
}

.glopalImg::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 6px;
    background-color: darkcyan;
}

.glopalImg  .div {
    position: relative;
    width: 400px;
}

.glopalImg  .div::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 6px;
    background-color: darkcyan;
}
.glopalImg  span {
    font-size: 3rem;
    color: var(--Col);
    letter-spacing: 2px;
    font-weight: 600;
    font-family: saden;
}

.glopalImg button {
    margin: 12px;
    width: 220px;
    height: 45px;
    border-radius: 25px;
    text-transform: capitalize;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    opacity: .8;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    background-color: #52b875;
}

@media (max-width:990px) {
    .glopal-item {
        flex-direction: column;
    }

    .glopal-item  .glopal {
        width: 100%;
    }

    .glopalImg  {
        width: 100%;
        margin-top: 60px;
    }

    .glopalImg  .div {
        position: relative;
        width: 500px;
    }

}

@media (max-width:767px) {
    .glopal-item {
        flex-direction: column;
        padding: 0;
    }

    .glopal-item .glopal  {
        width: 100%;
    }

    .glopalImg  {
        width: 100%;
        margin: 0;
        margin-top: 60px;
    }

    .glopalImg  .div {
        position: relative;
        width: 350px;
    }

}

/*  */
.css3 {
    background-color: #FF8A08;
}

.css3 .glopal button:nth-of-type(2) {
    background-color: #123;
    color: #fff;
}


/*  */

.js6 {
    background-color: #CDE8E5;
}


.js6 .glopal  span,
.boot5 .glopal span {
    font-size: 8rem;
    color: #fff;
}

@media (max-width:767px) {
    .js6 .glopal  span,
    .boot5 .glopal span {
        font-size: 5rem;
    }

    .js6 .glopal  p,
    .boot5 .glopal p {
        text-align: center;
    }

} 

.boot5 {
    background-color: #C73659;
}

/*  */


.contact-us {
    height: 100vh;
    background-color: rgba(255, 255, 255, .25);
    backdrop-filter: blur(25px);
    box-shadow: 0 20px 10px rgba(255, 255, 255,.1);
    border-top: 1px solid  rgba(255, 255, 255,.50) ;
    border-left: 1px solid  rgba(255, 255, 255,.50);
    /* position: relative; */
    /* width: 100%; */
    /* overflow: hidden; */
    margin: 0 auto;
}

.contact-us::before {
    position: absolute;
    content: '';
    top: 20px;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to left,  #57A6A1 , #577B8D, #57A6A1 );
    z-index: -1;
}

.contact-us::after{
    position: absolute;
    content: '';
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to left,  #57A6A1 , #577B8D, #57A6A1 );
    z-index: -1;
}

.contact-us > .contact-box {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: var(--book);
    width: 40%;
    height: 400px;
    /* display: flex; */
    /* flex-direction: column; */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* padding: 25px; */
    /* z-index: 1000; */
}

.contact-us > .contact-box  input[placeholder="First Name"],
.contact-us > .contact-box   input[placeholder="last Name"],
.contact-us > .contact-box  input[placeholder="Email"],
.contact-us > .contact-box  input[ value="Send"],
.contact-us > .contact-box  textarea {
    border: 1px var(--Color) solid;
    background-color: var(--Bgc);
    /* height: 35px; */
    /* width: 100%; */
    /* padding: 15px; */
    /* font-size: 1.2rem; */
    /* font-weight: 500; */
    /* margin: 12px 0 0 0; */
    /* outline: none; */
    /* color: #fff; */
}

/* .contact-us > .contact-box  textarea {
    width: 100%;
    margin-top: 12px;
    max-height: 150px;
    outline: none;
    color: #fff;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 500;
} */

.contact-us > .contact-box  input[ value="Send"] {
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    /* position: absolute; */
    /* bottom: 20px; */
    /* left: 50%; */
    /* width: 120px; */
    /* height: 35px; */
    /* margin-top: 12px; */
    /* outline: none; */
    /* color: #fff; */
    /* font-size: 1.5rem; */
    /* font-weight: 500; */
    /* cursor: pointer; */
}




@media (min-width:991px) {
    .contact-us > .contact-box {
        width: 951px;
    }
}

@media (min-width:768px) and (max-width:990px) {
    .contact-us > .contact-box {
        width: 740px;
    }
}

@media (max-width:767px) {
    .contact-us > .contact-box {
        width: 300px;
    }
}

/*  */


.bg-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left,  #57A6A1 , #577B8D, #57A6A1 );
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
}


.bg-header:hover> span{
    background-color: gold;
}

.bg-header > span {
    margin: 0;
    height: 50px;
    background-color: #fff;
    width: 2px;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

.bg-header > div {
    position: relative;
    font-size: 1.8rem;
    color: var(--Col);
    text-transform: capitalize;
    font-weight: 600;
    width: 120px;
    height: 100%;
}

.bg-header > div > span {
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    font-family: saden;
}

.bg-header > div >span:hover {
    text-shadow: 0 0 20px cyan;
    cursor: pointer;
    color: #fff;
}

.div1 > ul,
.div2 > ul,
.div3 > ul {
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    background-color: darkcyan;
    width: 375px;
    display: none;
    z-index: 20000;
}

@media (max-width:767px) {
    .div2 > ul {
        left: -128px !important;
    }
    .div3 > ul {
        left: -255px !important;
    }    
}
.div1 > ul li,
.div2 > ul li,
.div3 > ul li  {
    padding: 10px;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.div1 > ul li a ,
.div2 > ul li a ,
.div3 > ul li a  {
    height: 35px;
    margin-left: 12px;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    display: flex;
    align-items: center;
}

.div1 > ul li a:hover ,
.div2 > ul li a:hover ,
.div3 > ul li a:hover {
    color: var(--Col);
    font-weight: 600;
    font-size: 1.9rem;
}

.div1 > ul li:hover a ,
.div2 > ul li:hover a ,
.div3 > ul li:hover a {
    margin-left: 25px;
    color: var(--Col);
    font-weight: 600;
    font-size: 1.9rem;
}

.div1 > ul li:hover ,
.div2 > ul li:hover ,
.div3 > ul li:hover {
    background-color: rgba(1, 2, 3, .5);
}

.div1 > ul a ,
.div2 > ul a ,
.div3 > ul a{
    display: block;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: capitalize;
}

.div1 > ul li:not(:last-child) ,
.div2 > ul li:not(:last-child) ,
.div3 > ul li:not(:last-child)  {
    border-bottom: 1px cyan solid;
}

.div1 > ul li:first-child ,
.div2 > ul li:first-child ,
.div3 > ul li:first-child {
    border-top: 1px cyan solid;
}

.div1:hover ul ,
.div2:hover > ul,
.div3:hover > ul  {
    display: block;
}

.div3 > ul {
    left: -250px;
}

.div2 > ul {
    left: -125px;
}


.content-content {
    width: 100%;
    padding: 60px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--Bgc);
}

.content-box {
    position: relative;
    background-color: rgba(255, 255, 255, .25);
    width: 450px;
    height: 350px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 20px;
}

.content-box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0;
    top: -5px;
    background: darkcyan;
    animation: idea 10s infinite linear;
    -webkit-animation: idea 10s infinite linear;
}

.content-box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0;
    bottom: -5px;
    background: darkseagreen;
    animation: idea 10s infinite linear;
    -webkit-animation: idea 10s infinite linear;
}


.content-box  > .b > span {
    font-family: saden;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: aliceblue;
    font-weight: 600;
}

.content-box  > .b > p {
    font-family: saden;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #123;
    font-weight: 600;
    margin-top: 12px;
}


.content-box  > button {
    width: 150px;
    height: 45px;
    color: #fff;
    background-color: rgba(1, 2, 3, .70);
    margin-left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    font-size: 1.7rem;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    text-transform: capitalize;
}


.content-box  > button:hover {
    background-color: #123;
}

@media (max-width:990px) {
    .content-content {
        flex-direction: column;
    }
} 

@media (max-width:450px) {
    .content-content {
        flex-direction: column;
    }
    .content-box {
        width: 100%;
    }

    footer {
        flex-direction: column;
        font-size: 17px !important;
    }

} 
/*  */
/* .button.http {
    width: fit-content;
    display: flex;
    padding: 1.2em 1rem;
    cursor: pointer;
    gap: 0.4rem;
    font-weight: bold;
    border-radius: 30px;
    text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
    background: linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #f09f33, #de6f3d, #cc3f47, #aa2068, #880088) no-repeat;
    background-size: 300%;
    color: #fff;
    border: none;
    background-position: left center;
    box-shadow: 0 30px 10px -20px rgba(0,0,0,.2);
    transition: background .3s ease;
  }
  
  .button:hover {
    background-size: 320%;
    background-position: right center;
  }
  
  .button:hover svg {
    fill: #fff;
  }
  
  .button svg {
    width: 23px;
    fill: #f09f33;
    transition: .3s ease;
  } */

  /*  */

  footer {
    margin-top: 60px;
    width: 100%;
    background-color:#07141c;
    flex-direction: column;
    padding: 25px;
  }

  footer .in-first {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }

  footer .in-first .element-bar,
  footer .in-first .element-med {
    width: 30%;
  }

  footer .in-first .element-bar > span,
  footer .in-first .element-med > span {
        color: var(--mainColor);
        font-size: 2.5rem;
        font-weight: 600;
        font-family: saden;
        text-transform: capitalize;
  }

  footer .in-first .element-bar  p:first-child,
  footer .in-first .element-med  p:first-child {
    margin-top: 20px;
  }

  footer .in-first .element-bar  p,
  footer .in-first .element-med p {
        color: var(--clp, #777);
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        margin: 12px 0;
}


  footer .in-first .element-bar  p:hover,
  footer .in-first .element-med p:hover {
    text-decoration: underline;
  }
  footer .in-first .element-important-lay {
    width: calc( 100% - (30% + 30%));
  }

  footer .in-first .element-important-lay .logo-img {
    width: 100%;
  }
  footer .in-first .element-important-lay .logo-img > img {
    width: 100px;
    margin-left: 10%;
}

footer .in-first .element-important-lay .text-var {
    width: 100%;
    margin-top: 20px;
    font-size: 1.8rem;
    color: var(--clp, #777);
    font-weight: 500;
  }

footer .in-first .element-important-lay .element-btn {
    width: 100%;
    margin-top: 12px;
  }

  footer .in-first .element-important-lay .element-btn {
    display: flex;
  }

footer .in-first .element-important-lay .element-btn > input{
    width: 250px;
    height: 40px;
    padding: 15px;
    font-size: 1.8rem;
    font-weight: 500;
    outline: none;
    border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -ms-border-radius: 8px 0 0 8px;
    -o-border-radius: 8px 0 0 8px;
}

footer .in-first .element-important-lay .element-btn > button{
    width: 150px;
    background-color: #fff;
    height: 40px;
    padding: 15px;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
    background-color: #57c3f0;
    border-radius:  0 8px 8px 0;
    -webkit-border-radius:  0 8px 8px 0;
    -moz-border-radius:  0 8px 8px 0;
    -ms-border-radius:  0 8px 8px 0;
    -o-border-radius:  0 8px 8px 0;
}

.on-en {
    margin: 30px 0;
}

.on-en span {
    color: var(--clp, #777);
    font-size: 1.8rem;
    font-weight: 500;
}

hr {
    border: 1px #777 dashed;
}

.in-fin {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.in-fin .left {
    color: wheat;
    font-size: 1.7rem;
}

.right i {
    margin: 0 8px;
    font-size: 3rem;
}

.right i[class="fa-brands fa-github"]{
    color: #fff;
}
.right i[class="fa-brands fa-facebook"] {
    color: #4267d2;
}
.right i[class="fa-brands fa-upwork"] {
    color: var(--mainColor);
}
@media (min-width:768px) {
}
@media (max-width:991px) {
    footer .in-first .element-important-lay .element-btn > input{
        width: 60%;
    }

    footer .in-first .element-important-lay .element-btn > button{
        width: 40%;
    }
}

@media (min-width:451px) and (max-width:767px) {
    footer .in-first {
        flex-direction: column;
        align-items: normal;
    }

    .element-bar,
    .element-med {
        display: flex ;
        width: 100%;
        align-items: center;
    }

    .element-bar p,
    .element-med p {
       margin: 30px  !important;
       font-size: 1.6rem !important;
    }

    .element-important-lay {
        margin-left: 50% !important;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}
}

@media (max-width:450px) {
    footer .in-first {
        flex-direction: column;
    }

    .in-fin {
        flex-direction: column;
    }

    .in-fin .right {
        margin-top: 20px;
    }

    footer .in-first .element-important-lay .element-btn ,
    .element-important-lay {
        display: none;
    }

}


.edit {
    width: 75% ;
    margin: auto;
}

@media (max-width: 768px) {
    .edit {
        width: 100%;
    }
    .not-carousel-acess-poll-a > div::before {
        display: none;
    }
}

.not-carousel-acess-poll-a {
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.not-carousel-acess-poll-a > div {
    position: relative;
}

.not-carousel-acess-poll-a > div:hover::before {
    background: var(--Color);
}


.not-carousel-acess-poll-a > div::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -20px;
    width: 40px;
    height: calc(100% + 20px);
    background: darkcyan;
    z-index: -1;
}

/* pro section */

.pro-sec  {
    padding: 60px 0;
}
.pro-sec > .block-sec  {
    position: relative;
    /* width: 50%; */
    margin: 0 auto;
    background-color: rgba(17, 25, 40, 0.75);
    height: 200px;
    margin-top: 300px;
}

.pro-sec > .block-sec::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;px;
    height: 100%;
    background-color: #002;
}

.pro-sec > .block-sec::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width:15px;
    height: 100%;
    background-color: #002;
}

.pro-sec .square-sec {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%)  rotate(45deg);
    width: 200px;
    height: 200px;
    background-color:var(--bgc);
    -webkit-transform: translateX(-50%)  rotate(45deg);
    -moz-transform: translateX(-50%)  rotate(45deg);
    -ms-transform: translateX(-50%)  rotate(45deg);
    -o-transform: translateX(-50%)  rotate(45deg);
    border: 15px solid;
    border-color: var(--Bgc);
    transition: 1.5s;
    -webkit-transition: 1s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pro-sec .square-sec > button {
    width: 90%;
    height: 90%;
    background-color: #123;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    outline: none;
    border: none;
}

.pro-sec .square-sec:hover {
    background: linear-gradient( darkcyan , #06b733) ;
    transform: translateY(-150px) translateX(-50%) scale(1.2);
    -webkit-transform: translateY(-150px) translateX(-50%) scale(1.2);
    -moz-transform: translateY(-150px) translateX(-50%) scale(1.2);
    -ms-transform: translateY(-150px) translateX(-50%) scale(1.2);
    -o-transform: translateY(-150px) translateX(-50%) scale(1.2);
    cursor: pointer;
}

 .hidden-notHidden {
    width: 100%;
    height: 100%;
}

.hidden-notHidden > div {
    position: absolute;
    width: 200px;
    height: 200px;
    /* border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px; */
    border: rgba(1, 2, 3, .5) solid 5px ;
    z-index: -3;
}

.hidden-notHidden > div:nth-child(1) {
    right: 50px;
}
.hidden-notHidden > div:nth-child(2) {
    left: 50px;
}
.hidden-notHidden > div:nth-child(3) {
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
}

@media (max-width:450px) {
    .hidden-notHidden > div:nth-child(1) {
        background-color: rgb(9, 104, 104);
    }

    .hidden-notHidden > div:nth-child(2) {
        background-color: rgb(9, 104, 104);
    }

    .hidden-notHidden > div:nth-child(3) {
        background-color: darkcyan;
    }
    }

    @media (min-width:450px) and (max-width:767px)  {
        .hidden-notHidden > div:nth-child(1) ,
        .hidden-notHidden > div:nth-child(2) {
            display: none;
        }
    }