* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flexy {
    display: flex;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.hidden {
    display: none;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}