@use "_sass/fonts";
@use "_sass/var" as *;

html {
    font: {
        size: 10px
    };
    scroll-behavior: smooth;
}
body {
    background-color: $Bgc_color;
    color: $Bgc_color_blind_mode;
    font-family: "cairo", sans-serif;
    // height: 2000px;
}
ul > {
    li {
        list-style-type: none;
    }
}
// import from var.scss
a, a:focus , a:visited {
    @extend %te_a;
}
@keyframes bouncingcolor {
    0% {
        color: $Col-color;
    }
    40% {
        color: $Col_color_anmation;
        transform: rotateY(90deg);
        -webkit-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
}
    60% {
        transform: rotateX(90deg);
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        -o-transform: rotateX(90deg);
}
    100% {
        color: $Col_color;
    }
}
header {
    position: fixed;
    inset-inline:0;
    align-items: center;
    justify-content: space-between;
    min-height: 7.2rem;
    padding:  {
        top: 0;
        bottom: 0;
        inline:2rem
    };
    flex-wrap: wrap;
    background-color: transparent;
    backdrop-filter: blur(20px);
    > .logo {
        align-items: center;
        i {
            font-size: 4rem;
            color: $Col-color;
            animation: bouncingcolor 2s  alternate ease-in;
            -webkit-animation: bouncingcolor 2s  alternate ease-in;
        }
        span {
            font: {
                family: "cairo play", sans-serif ;
                size: 2.5rem;
                weight: 500
            };
            margin: {
                right: 1.2rem;
            };
        }
    }

    ul.basic > {
        align-items: center;
        li {
            &:last-child {
                &:hover {
                    color: $Col_color_anmation;
                }
            }
            transition: .4s;
            z-index: 1;
            display: inline-block;
            padding-inline: 20px;
            color: $Bgc_color_blind_mode;
            cursor: pointer;
            font: {
                size: 1.8rem;
                weight: 600
            };
            > i {
                margin-right: .6rem;
                transform: rotatex(180deg);
                -webkit-transform: rotatex(180deg);
                -moz-transform: rotatex(180deg);
                -ms-transform: rotatex(180deg);
                -o-transform: rotatex(180deg);
}
        }
    }
    ul.list-services {
        z-index: 10;
        width: 280px;
        position: absolute;
        top:100% ;
        background-color: $Col_color;
        border: {
            top: .1rem solid darkcyan;
            bottom-left-radius: .8rem;
            bottom-right-radius: .8rem
        }
        > li {
            padding: 1.5rem;
            transition: .4s;
            -webkit-transition: .4s;
            -moz-transition: .4s;
            -ms-transition: .4s;
            -o-transition: .4s;
            border: 1px solid $Bgc_color;
            >a{
                display: block;
                padding: 1rem 0;
                font: {
                    size: 1.7rem;
                    weight: 600;
                }
                color: $Bgc_color_blind_mode;
            }
            &:hover {
                background-color: $Bgc_color;
                border: 1px solid #ccc;
            }
        }
    };

    ul.plans {
        left: 100px;
        span {
            text-transform: uppercase
        }
    }
    ul.xdef24 {
        left: 20px;
    }

.nesting-exit {
    @extend %pull;
    &:hover {
        background-color: darkred !important;
        cursor: pointer;
        border: 1px solid darkred !important;
    }
}

&::before {
    top: 0;
    left: 0;;
}
}
@media (max-width:767px) {
    .lista {
        display: none;
    }
}
