
/* CAIRO_Font*/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
/* CAIRO-PLAY_Font*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&family=Cairo:wght@200..1000&display=swap");
a, a:focus, a:visited {
    text-decoration: none
}
ul > li {
    list-style-type: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0, .4);
}
::-webkit-scrollbar-thumb {
    background-color: darkred;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.flexy {
    display: flex;
}
.between {
    justify-content: space-between;
    align-items: center;
}
.center {
    justify-content: center;
    align-items: center;
}
.y-center {
    align-items: center;
}
.x-center {
    justify-content: center;
}
.wrap {
    flex-wrap: wrap;
}
.p-30 {
    padding: 10px 20px;
}
.fixed {
    position: fixed;
}
.set-x {
    inset-inline: 0;
}
.relative {
    position: relative;
}
.absloute {
    position: absolute;
}
.hidden {
    display: none;
}
.f-column {
    flex-direction: column;
}
.full-vh {
    height: 100vh;
}