/* CAIRO_Font*/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
/* CAIRO-PLAY_Font*/
@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&family=Cairo:wght@200..1000&display=swap");
a, a:focus, a:visited {
  text-decoration: none;
}

header .nesting-exit {
  display: block;
  padding: 1rem 0;
  font-size: 1.7rem;
  font-weight: 600;
  color: #FCFAEE;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #141414;
}

::-webkit-scrollbar-thumb {
  background-color: #242424;
  border-left: 1px solid #FCFAEE;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #242424;
  color: #FCFAEE;
  font-family: "cairo", sans-serif;
}

ul > li {
  list-style-type: none;
}

@-webkit-keyframes bouncingcolor {
  0% {
    color: #141414;
  }
  40% {
    color: darkcyan;
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
  }
  60% {
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
  }
  100% {
    color: #141414;
  }
}

@keyframes bouncingcolor {
  0% {
    color: #141414;
  }
  40% {
    color: darkcyan;
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
  }
  60% {
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
  }
  100% {
    color: #141414;
  }
}
header {
  position: fixed;
  inset-inline: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 7.2rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-inline: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: transparent;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
header > .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header > .logo i {
  font-size: 4rem;
  color: #141414;
  animation: bouncingcolor 2s alternate ease-in;
  -webkit-animation: bouncingcolor 2s alternate ease-in;
}
header > .logo span {
  font-family: "cairo play", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin-right: 1.2rem;
}
header ul.basic > li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 1;
  display: inline-block;
  padding-inline: 20px;
  color: #FCFAEE;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
}
header ul.basic > li:last-child:hover {
  color: darkcyan;
}
header ul.basic > li > i {
  margin-right: 0.6rem;
  transform: rotatex(180deg);
  -webkit-transform: rotatex(180deg);
  -moz-transform: rotatex(180deg);
  -ms-transform: rotatex(180deg);
  -o-transform: rotatex(180deg);
}
header ul.list-services {
  z-index: 10;
  width: 280px;
  position: absolute;
  top: 100%;
  background-color: #141414;
  border-top: 0.1rem solid darkcyan;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}
header ul.list-services > li {
  padding: 1.5rem;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  border: 1px solid #242424;
}
header ul.list-services > li > a {
  display: block;
  padding: 1rem 0;
  font-size: 1.7rem;
  font-weight: 600;
  color: #FCFAEE;
}
header ul.list-services > li:hover {
  background-color: #242424;
  border: 1px solid #ccc;
}
header ul.plans {
  left: 100px;
}
header ul.plans span {
  text-transform: uppercase;
}
header ul.xdef24 {
  left: 20px;
}
header .nesting-exit:hover {
  background-color: darkred !important;
  cursor: pointer;
  border: 1px solid darkred !important;
}
header::before {
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .lista {
    display: none;
  }
}