
@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

:root {
    --Bgc: #344C64;
    --disc: #CDE8E5;
    --main: #777;
    --Color: #114232;
    --Col: #1C1678;
    --box: #e7e9eb;
    --main-padding: 60px ;
}

body {
    font-family: 'poppins', sans-serif;
    user-select: none;
    background-color: var(--Bgc, #344C64);
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--bgc)
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px var(--box, #e7e9eb)
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes jump {
    0% {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
}
    100% {
        transform: translateY(-2px) rotateY(360deg);
        -webkit-transform: translateY(-2px) rotateY(360deg);
        -moz-transform: translateY(-2px) rotateY(360deg);
        -ms-transform: translateY(-2px) rotateY(360deg);
        -o-transform: translateY(-2px) rotateY(360deg);
}
}
.up {
    position: fixed;
    width: 35px;
    height: 35px;
    border-radius: 7px;
    bottom: -40px;
    right: -40px;
    z-index: 10;
    background-color: var(--Col);
    padding: 10px;
    -webkit-border-radius: 0 8px 0;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    opacity: .5;
}

.up:hover {
    background-color: #ff0;
    color: var(--Col);
}

.up:hover > i {
    animation: jump 3s infinite ease;
    -webkit-animation: jump 3s infinite ease;
}

.up.show {
    right: 10px;
    bottom: 10px;
    opacity: 1;
}

.jumbotron {
    margin-bottom: 0;
    border-bottom: 1px var(--main, #777) solid;
}

.breadcrumb {
    border-bottom: 1px var(--main, #777)solid;

}

.breadcrumb a {
    text-decoration: none;
    text-transform: capitalize;
}

.title h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 12px 0;
    color: aliceblue;
    font-family: saden;
    font-size: 40px;
}

.under-title {
    display: flex;
    flex-direction: column;
    background-color: var(--disc, #CDE8E5);
    padding: 25px;
    margin: 60px auto;
    min-height: 300px;
    justify-content: space-evenly;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.under-title > span {
    text-transform: capitalize;
    line-height: 1.7;
    margin-top: 5px;
    font-size: 18px;
    color: var(--main, #777);
}

.under-title button {
    width: 300px;
    margin-top: 12px;
}


.info {
    padding: 25px;
    color: aliceblue;
    
}

.info  > span {
    font-size: 20px;
    font-weight: 500;
}

.info > p {
    margin-top: 6px;
    font-size: 14px;
    font-weight: 400;
    color: var(--main, #777);
}


@media (max-width:450px) {
    .info{
        text-align: center;
    }
}

.example-div-container-pro {
    background-color: var(--box, #e7e9eb);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 25px;
}

.example-div-container-pro > h1 {
    text-transform: capitalize;
}

.example-div-container-pro > .box-example-w3-spans {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--disc);
    padding: 25px;
    color: var(--Col);
}

.example-div-container-pro > .box-example-w3-spans::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #218838;
    height: 100%;
    width: 8px;
}

.acess-box > a button {
    text-transform: capitalize;
    margin-top: 20px;
}

@media (max-width:450px) {
    .example-div-container-pro > .box-example-w3-spans > span {
        margin-left: 0 !important;
    }

    .boxes-BoxesesBoxes .boxes-BoxesesBoxes-box {
        margin: 0 12px;
    }

    .flex-bh {
        flex-direction: column;
    }

    .bh {
        width: 100% !important;
    }
}


.boxes-BoxesesBoxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: var(--main-padding, 60px) 0;
}

.boxes-BoxesesBoxes  > a {
    text-decoration: none;
}

.boxes-BoxesesBoxes .boxes-BoxesesBoxes-box {
    background-color: var(--box);
    color: #001;
    text-transform: capitalize;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.boxes-BoxesesBoxes .boxes-BoxesesBoxes-box:hover {
    background-color: #001;
    color: #fff;
    cursor: pointer;
    border: 1px solid #777;
}

.certificate {
    background-color: #123;
    padding: 25px;
    margin: var(--main-padding) 0;
    color: aqua;
    display: flex;
    flex-direction: column;
}

.certificate h1 {
    font-size: 40px;
    font-weight: 800;
}

.certificate span {
    font-size: 20px;
    font-weight: 400;
    color: var(--main);
}

.certificate button {
    width: 300px;
    margin: 20px auto 0;
}

.call {
    background-color: var(--box);
    padding: 25px;
    font-size: 20px;
    text-transform: capitalize;
}

.call ul > li:not(:first-child) {
    margin-top: 25px;
}

.call ul > li {
    margin-left: 12px;
    list-style: none;
}

.flex-bh {
    display: flex;
}

.bh {
    width: 50%;
}


.html-cont {
    padding: 25px;
    font-size: 25px;
    color: aliceblue;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
}