
@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
    font-size: 10px
}

:root {
    --Bgc: #007F73;
    --mainColor: #337357 ;
    --Color: #114232;
    --Col:#1C1678
}

body {
    font-family: 'poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--Col)
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px var(--Color)
}


/*  */

.intro {
    position: relative;
    width: 100%;
    /* height: 148px; */
    padding: 25px;
    background: linear-gradient(145deg, var(--Color) 70% ,  var(--Bgc) 5% , var(--Color)) 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro .func {
    color: aliceblue;
    text-transform: capitalize;
    line-height: 2;
}

.intro .func > h1 {
    font-size: 3rem;
    font-family: 'saden';
}

.intro .func > span {
    font-size: 1.6rem;
}

.button button {
    width: 150Px;
    height: 50px;
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: 'saden';
    color: aliceblue;
    background: linear-gradient(145deg, var(--Color) 70% ,  var(--Bgc) 5% , var(--Color)) 25%;
    cursor: pointer;
    border: 1px solid #fff;
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
}

.button button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

@media (max-width:450px) {
    .intro {
        flex-direction: column;
        align-items: flex-start;
    }

    .intro .func > h1 {
        font-size: 1.8rem;
        padding: 10px;
    }

    .intro .func > span {
        font-size: 1.5rem;
        padding: 10px;
    }

    .button button {
        margin-top: 12px;
    }

    .line .img-box,
    .line .img-box > span {
        display: none;
    }
}

/* / */

.head {
    position: relative;
}

.close {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
}

.close:hover {
    color: red;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


.line {
    position: relative;
    width: 100%;
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

@media (max-width:767px) {
    .line .logo {
        display: none;
    }
    .line .img-box,
    .line .img-box > span {
        display: none;
    }

}

.line::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #777;
    bottom: 0;
    left: 0;
}

.line .logo {
    border-right: 1px #777 solid;
    padding: 10px;
}


.line .logo > i {
    font-size: 3rem;
    color: var(--Col);
}

.line .icon {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.line .icon > input {
    width: 100%;
    padding: 8px;
    border: 1px #777 solid;
    outline: none;
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--Col);
    display: none;
}

.line .icon > input:focus {
    border: 2px darkcyan solid ;
}

.line .icon > i {
    width: 20px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 5px;
    cursor: pointer;
}

@media (min-width:768px) {
    .line .img-box {
        width: 40px;
        height: 40px;
        background-color: darkcyan;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .line .img-box span::first-letter {
        text-transform: uppercase;
    }
    
    .line .img-box span {
        font-size: 1.8rem;
        font-weight: 500;
        color: aliceblue;
    }
}

/*  container */
.container {
    width: 85vw ;
    padding: 25px;
    margin: 30px auto;
    display: flex;
    margin-bottom: 0;
}

.container .img {
    width: fit-content;
}

.container .deta {
    width: 100%;
    padding: 10px;
    position: relative;
}

.container .deta::before {
    content: '';
    position: absolute;
    border: 10px solid;
    border-color: transparent #d3d3d3 transparent transparent;
    top: 0;
    right: 11rem;
}

.container .deta::after {
    content: '';
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent transparent #d3d3d3;
    top: 0;
    right: 3rem;
}

.container .deta .top > div {
    position: absolute;
    top: 0;
    right: 5rem;
    width: 6rem;
    height: 2rem;
    background-color: #d3d3d3;
    line-height: 2rem;
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.container .deta .top > h1 {
    font-family: 'saden', sans-serif;
    font-size: 4rem;
    word-spacing: 4px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--Col);
    margin-bottom: 5px;
}

.container .deta .top > span {
    font-size: 2rem;
    font-weight: 500;
    color: var(--Col);
}

.spans {
    width: 100%;

    margin-top: 15px;
}

.spans > span {
    padding: 3px;
    background-color: #d3d3d3;
    margin: 5px;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

.cent > p {
    margin-top: 30px;
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--Col);
    line-height: 1.6;

}

.foot {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin-top: 30px;
}

.foot button {
    width: 15rem;
    height: 4rem;
    text-transform: capitalize;
    background-color: var(--Color);
    border: none;
    color: navajowhite;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    opacity: .8;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.foot button i {
    margin-left: 5px ;
}

.foot button:hover {
    opacity: 1;
    color: #fff;
    font-weight: 700;
}

.foot button:hover i {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}

@media (max-width:767px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .img {
        margin: auto;
    }

    .foot {
        justify-content: center;
    }

    .container .deta .top > div,
    .container .deta::before,
    .container .deta::after {
        display: none;
    } 

}

/*  */

.plan {
    width: 100%;
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: auto-fill, 1fr;
    gap: 20px;
    padding: 25px;
}

.plan .true {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan .true   h1 {
    color:var(--Col);
    text-transform: capitalize;
    font-size: 2.5rem;
    font-weight: 500;
}

.plan .srvBoxes {
    background-color: #fff;
    padding: 25px;
    display: flex;
}

.plan .srvBoxes .data {
    margin-left: 12px;
    padding: 10px;
    text-transform: capitalize;
}

.plan .srvBoxes .data > h1 {
    color: var(--Col);
    font-size: 2.5rem;
    font-family: 'saden';
    margin-bottom: 5px;
}

.plan .srvBoxes .data > span {
    color: var(--Col);
    font-size: 1.7rem;
    font-family: 'saden';
    margin-bottom: 5px;
}

.plan .srvBoxes .data > p {
    color: var(--Col);
    font-size: 1.9rem;
    margin-top: 12px;
    line-height: 1.6;
}

.start {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.start a {
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    background-color: #123;
    padding: 12px 50px;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.start a > span {
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
}

 /* .start a i {
    position: relative;
 } */

 .start a i::before {
    content: '';
    position: absolute;
    top: 0;
    right: 10px;
    width: 12px;
    height: 2px;
    background-color: #fff;
    transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.start a:hover i::before {
    width: 20px;
    right: 110px;
}

.start a i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 12px;
    height: 2px;
    background-color: #fff;
    transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.start a:hover i::after {
    width: 20px;
    left: 110px;
}


.start a:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0 0 35px rgba(0 , 0 , 0 , .25);
}

@media (min-width:990px) {
    .plan .srvBoxes  {
        width: 960px;
        margin: auto;
    }
}

@media (max-width:767px) {
    .plan .srvBoxes  {
        height: 400px;
    }
}
@media (max-width:580px) {
    .plan .srvBoxes  {
        height: 480px;
        flex-direction: column;
        text-align: center;
    }

    .flow {
        height: 670px !important;
    }

    .first-flow {
        height: 520px !important;
    }

    .start {
        justify-content: center;
        margin-top: 5px;
    }

    .plan .true  > h1 {
        text-align: center;
    }
}
